<% content_for :banner do %>
<div class="page-head">
  <div class="container">
    <h3>Check Out</h3>
  </div>
</div>
<% end %>
<!-- //banner -->
<!-- check out -->
<% content_for :content do %>
<div class="shopping-cart">
  <%= render "shopping_cart" %>
</div>
<% end %>
<!-- //check out -->
<!-- //product-nav -->
