<!-- header -->
<div class="header">
  <div class="container">
    <ul>
      <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span>Free and Fast Delivery</li>
      <li><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Free shipping On all orders</li>
      <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">info@example.com</a></li>
    </ul>
  </div>
</div>
<!-- //header -->
<!-- header-bot -->
<div class="header-bot">
  <div class="container">
    <div class="col-md-3 header-left">
      <h1><%= link_to image_tag( "logo3.jpg", alt:"logo3.jpg"), index_path, "data-turbolinks":false %></h1>
    </div>
    <div class="col-md-6 header-middle">
      <form accept-charset="UTF-8" action="/searches" method="get">
        <div class="search">
          <input type="search" id ="autocomplete-search" name="term" placeholder="Type keyword" required="">
        </div>
        <div class="sear-sub">
          <input type="submit" value=" ">
        </div>
        <div class="clearfix"></div>
      </form>
      <div class="results"></div>
      <script type="text/javascript">
        $("#autocomplete-search").autocomplete({
          source: "/searches",
          minLength: 1,
          appendTo: ".results",
          select: function(event,ui){
            $("#autocomplete-search").val(ui.item.name);
            return false;
          }
          })
          .data("ui-autocomplete")._renderItem = function(ul,item){
            return $("<li>")
            .data("item.autocomplete",item)
            .append("<p>"+item.name+"</p>"+"<p>"+item.price+"</p>")
            .appendTo(ul);
          };
      </script>
    </div>
    <div class="col-md-3 header-right footer-bottom">
      <ul>
      <% if log_in? %>
        <li><a href="<%= user_path current_user.id %>" class="use1" data-turbolinks="false"></a>
        </li>
      <% else %>
        <li><a href="#" class="use1" data-toggle="modal" data-target="#myModal4"><span>Login</span></a>
        </li>
      <% end %>
        <li><a class="fb" href="#" data-turbolinks="false"></a></li>
        <li><a class="twi" href="#" data-turbolinks="false"></a></li>
        <li><a class="insta" href="#" data-turbolinks="false"></a></li>
        <li><a class="you" href="#" data-turbolinks="false"></a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- //header-bot -->
