<!-- header -->
<div class="header">
  <div class="container">
    <ul>
      <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span>Free and Fast Delivery</li>
      <li><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Free shipping On all orders</li>
      <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">info@example.com</a></li>
    </ul>
  </div>
</div>
<!-- //header -->
<!-- header-bot -->
<div class="header-bot">
  <div class="container">
    <div class="col-md-3 header-left">
      <h1><%= link_to image_tag( "logo3.jpg", alt:"logo3.jpg"), index_path, "data-turbolinks":false %></h1>
    </div>
    <div class="col-md-6 header-middle">
      <form accept-charset="UTF-8" action="/products" method="get">
        <div class="search">
          <input type="search" name="search" placeholder="Type keyword" required="">
        </div>
        <div class="section_room">
          <select name="choice" class="frm-field required">
            <option value="all">All categories</option>
            <option value="mw">Men's Wear</option>
            <option value="ww">Women's Wear</option>
            <option value="w">Watches</option>
          </select>
        </div>
        <div class="sear-sub">
          <input type="submit" value=" ">
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
    <div class="col-md-3 header-right footer-bottom">
      <ul>
      <% if log_in? %>
        <li><a href="<%= user_path session[:user_id] %>" class="use1" data-turbolinks="false"></a>
        </li>
      <% else %>
        <li><a href="#" class="use1" data-toggle="modal" data-target="#myModal4"><span>Login</span></a>
        </li>
      <% end %>
        <li><a class="fb" href="#"></a></li>
        <li><a class="twi" href="#"></a></li>
        <li><a class="insta" href="#"></a></li>
        <li><a class="you" href="#"></a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- //header-bot -->
